{% extends 'base.html.twig' %}

{% block title %}TaskController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h2>My task's</h2>
    <div class="checkbox-wrapper-8">
  <input class="tgl tgl-skewed" id="cb3-8" type="checkbox"/>
  <label class="tgl-btn" data-tg-off="Incomplete" data-tg-on="Complete" for="cb3-8"></label>
</div>
   {{ include('includes/task-list.html.twig') }}

   
</div>
{% endblock %}
